*~
*.iml
*.tgz
.*.haste_cache.*
.idea
.babelrc
.eslintrc
.flowconfig
.gitignore
Dockerfile
Jenkinsfile
webpack.config.js
storybook-static/
stories/
.storybook/
mochawesome-report/
coverage/
.nyc_output/
test/
